body {
    background-color: #b30000;
}

h1, p{
    color: orange;
    text-align: center;
}
#juego {

width: 300px;
height: 420px;
}


table {
width: 100%;
height: 100%;
}

td {
width: 25%;
height: 25%;
background-color: white;
border: 4px solid black;

}


input {
width: 90px;
height: 30px;
}

.centrar {
margin-left: 210px;
}